@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <a class="btn btn-primary" onclick="MakeReservation('@Url.Action("Reservation", "Home")')">Make reservation</a>

</header>
<body>

</body>
@section Scripts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/js/datepickerchanged.js"></script>
    <script>
        var Popup;
        function MakeReservation(url) {
            var formDiv = $('<div\>');
            $.get(url).done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    modal: true,
                    draggable: true,
                    position: { my: "center", at: "top", of: window },
                    resizable: false,
                    title: "Make reservation",
                    height: 600,
                    width: 900,
                    close: function () {
                        $(this).closest('.ui-dialog-content').dialog('destroy').remove();
                    }
                })
            });
        }
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            $.notify("You successfully make reservation!", {
                                globalPosition: 'top center',
                                className: 'success',
                                autoHide: true,
                                autoHideDelay: 2000
                            })
                        }
                    }
                })
            }
        }
    </script>
}